* {
	box-sizing: border-box;
}
.navbar-nav .nav-item {
	text-align: center;
}
.navbar {
	background-color: #A8A4A3;
}
.navbar-brand {
	font-size: 2em;
	color: #000000;
}
.container {
	background-color: #A8A4A3;
	margin-top: 35px;
	padding: 25px;
	width: 90%;
}
h2 {
	margin-top: 25px;
}