* {
	box-sizing: border-box;
}
.navbar .nav-item {
	text-align: center;
}
.navbar {
	background-color: #A8A4A3;
}
.navbar-brand {
	font-size: 2em;
	color: #000000;
}
.container {
	margin-top: 25px;
}
.content {
	background-color: #A8A4A3;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
}


