/* HEADER */

.navbar-light .navbar-nav .nav-link {
	color: #5dafa7;
	text-align: center;
	font-size: 1.2em;
}
.navbar-toggler .navbar-toggler-icon {
	color: #5dafa7;
}
.carousel {
	width: 500px;
	height: 500px;
	margin: auto;
}
.carousel-caption {
	color: ;
}